{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>HoloRay - 3D голограммы</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Meterial Icon CSS -->
    <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">
    <!-- Material CSS -->
    <link rel="stylesheet" href="{% static 'css/material.min.css' %}">
    <!-- Ripples CSS -->
    <link rel="stylesheet" href="{% static 'css/ripples.min.css' %}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- Slicknav CSS -->
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">


    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/indigo.css' %}" media="screen" />


  </head>
  <body>

      <!-- Header Start -->
      <header id="header">
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar nav-bg">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand"><img src="{% static 'images/holo_logotype.png' %}" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
              <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item dropdown active">
                  <a class="nav-link" href="../" aria-haspopup="true" aria-expanded="false">
                    Главная
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../#usage" aria-haspopup="true" aria-expanded="false">
                    Применение
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" aria-haspopup="true" aria-expanded="false">
                    Купить
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item active" href="../#buy3d">3d голограммы</a>
                    <a class="dropdown-item" href="../#buygobo">GOBO проекторы</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../#contacts" aria-haspopup="true" aria-expanded="false">
                    Контакты
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../#contacts" aria-haspopup="true" aria-expanded="false">
                    Доставка
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Mobile Menu Start -->
          <ul class="wpb-mobile-menu">
            <li>
              <a class="active" href="../#">
              Главная
              </a>
            </li>
            <li>
              <a href="../#usage">
              Применение
              </a>
            </li>
            <li>
              <a href="../#buy3d">
              Купить
              </a>
              <ul class="dropdown">
                <li>
                  <a href="../#buy3d">3d голограммы</a>
                </li>
                <li>
                  <a href="../#buygobo">GOBO проекторы</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="../#contacts">
              Контакты
              </a>
            </li>
            <li>
              <a href="../#contacts">
              Доставка
              </a>
            </li>
          </ul>
          <!-- Mobile Menu End -->
        </nav>
      </header>
      <!-- Header End -->

      <!-- Page Titile Area -->
      <section class="page-title-section section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="title-center">
                          <div class="title-middle">
                              <h2 class="page-tagline">Подробное описание</h2>
                              <h1 class="page-title">HoloRay FA42HD</h1>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Page Titile Area End -->

      <!-- Portfolio Details Section -->
      <section class="portfolio-details-section section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-8 portfolio-details-iamge wow animated fadeInUp" data-wow-delay=".6s">
              <img src="{% static '/images/detail/detailfa30n.jpg' %}" class="img-fluid" alt="">
                <h2>Описание:</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam laudantium provident cum beatae deserunt, doloribus esse eaque obcaecati, qui aut dicta reprehenderit incidunt, illum aliquid excepturi non inventore optio, ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat dignissimos alias, vel perferendis aut laudantium voluptatem, eius animi tempore voluptatibus enim neque, veniam maxime! Non, ipsa excepturi obcaecati in nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita corrupti rerum ratione. Quisquam accusantium, neque non porro quo voluptatibus nobis quod obcaecati. Laborum nobis, similique rem assumenda at dolor fuga.</p>
            </div>
            <div class="col-md-4 portfolio-details wow animated fadeInUp" data-wow-delay=".6s">
              <h2>FA42HD</h2>
              <p>Голографический вентилятор 42 СМ</p>
              <ul class="portfolio-meta clearfix">
                  <li><span> Качество изображения </span> 512x512</li>
                  <li><span> Диаметр изображения </span> 30 см</li>
                  <li><span> Управление </span> SD-card, пульт</li>
                  <li><span> Комплектация </span> защитный корпус, подставка, встроенный аккумулятор</li>
                  <li><span> Гарантия </span> 6 месяцев</li>
              </ul>
              <a href="../#contacts" class="mt-3 btn btn-common btn-block"><i class="material-icons mdi mdi-eye"></i> Заказать<div class="ripple-container"></div></a>
            </div>
          </div>
        </div>
      </section>
      <!-- Portfolio Details Section End -->

      <!-- Portfolio Section -->
      <section class="Material-portfolio-section section-padding section-dark">
        <div class="container">
            <div class="row">
              <!-- Section Titile -->
              <div class="col-md-4 col-lg-4 col-xl-6  Material-title-section wow animated fadeInLeft" data-wow-delay=".2s">
                <h1 class="small-title">Наши работы</h1>
              </div>
              <div class="portfolio-item-wrapper clearfix wow animated fadeInUp" data-wow-delay=".5s" id="Material-portfolio">
                <!-- Single Portfolio Image -->
                <div class="col-md-6 col-lg-4 col-xl-4 pb-4 mix business">
                  <figure class="single-portfolio">
                      <img class="img-fluid" src="{% static '/images/portfolio/work1.jpg' %}" alt="">
                  </figure>
              </div>
              <!-- Single Portfolio Image -->
              <div class="col-md-6 col-lg-4 col-xl-4 mix development more">
                  <figure class="single-portfolio">
                      <img class="img-fluid" src="{% static '/images/portfolio/work2.jpg' %}" alt="">
                  </figure>
              </div>
              <!-- Single Portfolio Image -->
              <div class="col-md-6 col-lg-4 col-xl-4 mix creative business">
                  <figure class="single-portfolio">
                      <img class="img-fluid" src="{% static '/images/portfolio/work3.jpg' %}" alt="">
                  </figure>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Portfolio Section End -->

    <!--Footer-->
    <footer class="page-footer center-on-small-only  pt-0 footer-widget-container">
      <!--Footer Links-->
      <div class="container pt-5 mb-5">
        <div class="row">
          <!--First column-->
          <div class="col-md-12 col-lg-6 col-xl-6 footer-contact-widget">
              <h3 class="footer-title">О нас</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates eos minus expedita illo recusandae esse labore obcaecati nisi amet quia odio sapiente! Fugiat, voluptatibus nemo necessitatibus porro.</p>
              <ul>
                <li>
                  <a href="#"><i class="mdi mdi-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="mdi mdi-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="mdi mdi-dribbble"></i></a>
                </li>
                <li>
                  <a href="#"><i class="mdi mdi-github-circle"></i></a>
                </li>
                <li>
                  <a href="#"><i class="mdi mdi-linkedin"></i></a>
                 </li>
              </ul>
          </div>
          <!--/.First column-->

          <!--Third column-->
          <div class="col-md-6 col-lg-3 col-xl-3 link-widget">
            <h3 class="footer-title">Контакты</h3>
            <div class="mt-3"></div>
            <ul class="icon-list">
              <li><i class="mdi mdi-map-marker"></i> Россия, г. Москва </li>
              <li><i class="mdi mdi-email"></i> <a href="mailto:holoray@gmail.com" class="nocolor">holoray@gmail.com</a> </li>
              <li><i class="mdi mdi-phone-classic"></i> +7 (985) 123 12 31 </li>
              <li><i class="mdi mdi-cellphone-iphone"></i> +7 (985) 123 12 31 </li>
            </ul>
          </div>
          <!--/.Third column-->

          <!--Fourth column-->
          <div class="col-md-6 col-lg-3 col-xl-3 footer-contact">
              <div class="widget">
                <h5 class="widget-title">Полезные ссылки</h5>
                <ul class="unordered-list">
                  <li><a href="#" class="nocolor">Terms of Use</a></li>
                  <li><a href="#" class="nocolor">Privacy Policy</a></li>
                  <li><a href="#" class="nocolor">Company Profile</a></li>
                  <li><a href="#" class="nocolor">Why Choose Us</a></li>
                </ul>
              </div>
          </div>
          <!--/.Fourth column-->

        </div>
      </div>
      <!--/.Footer Links-->

      <!-- Copyright-->
      <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2020, All right reserved</a></p>
                </div>
            </div>
          </div>
      </div>
      <!--/.Copyright -->

    </footer>
    <!--/.Footer-->


    <!-- Back To Top -->
    <a href="#" class="back-to-top">
      <div class="ripple-container"></div>
      <i class="mdi mdi-arrow-up">
      </i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

    <!-- Optional JavaScript -->
    <script src="{% static 'js/jquery-min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.inview.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/scroll-top.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/material.min.js' %}"></script>
    <script src="{% static 'js/ripples.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.min.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/jquery.vide.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
